#icon{
    height: 70px;

}

body{
margin: 0;
background-color: #ebebeb;
padding: 20px;
}

nav{

display: flex;
align-items: center;
justify-content: space-around;

background-color: black;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: aliceblue;


}

#noticias {
    justify-content: space-between;
    display: flex;
    flex: wrap;
    background-color: rgb(255, 187, 0);
    margin: 40px;
}

.noticia{
    background-color: rgba(201, 187, 0, 0.76);
    border: 5px solid rgb(0, 0, 0);
    margin: 10px;
    padding: 5px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.img_noticia {

    height: 275px;
}

footer{
background-color: black;
padding: 5px;
text-align: center;
color: white;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;

}

#jogadores{

  justify-content: center;
    display: flex;
flex: wrap;
    background-color: rgb(0, 0, 0);
   gap: 15px;
    margin: 40px;
   
}

.jogador{
 display: flex;
 flex-direction: column;
 background-color: #eebe1fe0;
 align-items: center;
 margin-top: 10px;
 margin-bottom: 10px;
 padding: 10px;
 width: 190px;
border: 2px solid white;
}

.jogador_img{
width: 190px;
margin: 2px;
border: 5px solid white;

}

hr{
   color: black;
   
}

#gif{
right: 0px;
bottom: -50px;
position: fixed;
height: 200px;

}


